@media (max-width: 768px) {
  body {
    height: auto !important;
    overflow: auto !important;
    position: relative;
  }

  .app-container {
    flex-direction: column;
  }

  .navbar__sidebar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .welcome {
    padding: var(--spacing-16) !important;
    
    .welcome-title {
      font-size: 28px !important;
      line-height: 1.3 !important;
    }
    
    .suggestions-container {
      grid-template-columns: 1fr !important;
    }
  }
}